<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fullscreen Form Interface</title>
		<meta name="description" content="Fullscreen Form Interface: A distraction-free form concept with fancy animations" />
		<meta name="keywords" content="fullscreen form, css animations, distraction-free, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="<%= origin %>/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="<%= origin %>/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="<%= origin %>/css/component.css" />
		<link rel="stylesheet" type="text/css" href="<%= origin %>/css/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="<%= origin %>/css/cs-skin-boxes.css" />
		<script src="<%= origin %>/js/modernizr.custom.js"></script>


</head>
